on property:dev.bootcomplete=1
    write /sys/module/pwr_mgr/parameters/pm_late_init 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    chown system system /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse
    chmod 660 /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chmod 660 /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chmod 660 /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chmod 660 /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chmod 660 /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chmod 660 /sys/devices/system/cpu/cpufreq/interactive/timer_slack
    chmod 220 /sys/devices/system/cpu/cpufreq/interactive/boostpulse
    write /sys/power/memc_dfs_init 1
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    chmod 0000 /sys/devices/system/cpu/cpu2/online
    chmod 0000 /sys/devices/system/cpu/cpu3/online
